<h1>Showing selected article</h1>

<p><strong>Title:</strong> <%= @article.title %></p>

<p><strong>Description:</strong> <%= @article.description %></p>

<%= link_to 'Edit this article', edit_article_path(@article) %> |
<%= link_to 'Back to list', articles_path %>